<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" [(ngModel)]="user" class="form-control" name="user" id="exampleInputEmail1" required aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password"  [(ngModel)]="password"  class="form-control" name="password" required id="exampleInputPassword1">
    </div>
   
    <button type="submit"  (click)="login()"  class="btn btn-primary">Submit</button>
  </form>
