<div class="card text-bg-dark mb-3  tablaClientes" >
    <div class="card-header">Clientes</div>
    <div class="card-body">
      <h5 class="card-title">Listado de Clientes</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']"> crear cliente</button>
        <button class="btn btn-rounded btn-primary" (click)="enviarDatos()" type="button" [routerLink]="['/clientes/pdf']"> Crear Pdf</button>

      </div>
      <div class="m-2">
        <label for="nombre" class="m-4" >Bucar Cliente</label><input name="nombre" (keyup)="onKey($event)" placeholder="buscador" />

      </div>
      <div *ngIf="clientes?.length == 0" class="alert alert-info">

        no hay registros en la base de datos


      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped" *ngIf="clientes.length > 0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody> 
                <tr *ngFor="let cliente of clientes | slice:desde:hasta">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.creatAt}}</td>
                    <td >
                        <button type="button" name="editar" [routerLink]="['/clientes/form',cliente.id]" class="btn btn-primary">editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)="delete(cliente)" class="btn btn-danger">eliminar</button>



                    </td>
                    <td >
                        <button class="btn btn-primary" (click)="agregarItem(cliente)">agregar</button>
                    </td>
                </tr>
              
            </tbody>

        </table>
    
    </div>
    <div>
        <mat-paginator [length]="clientes.length"
              [pageSize]="PageSize"
              (page)="cambiarPagina($event)"
              showFirstLastButtons
              >

</mat-paginator>
        
    </div>
  </div>
</div>



  <div class="espacio tablaClientes">
    <div class="table-responsive">
      <table class="table table-bordered table-striped ">
          <thead>
              <tr>
                  <th>id</th>
                  <th>nombre</th>
                  <th>apellido</th>
                  <th>email</th>
                  <th>fecha</th>
                  <th>eliminar</th>
  
              </tr>
          </thead>
          <tbody> 
              <tr *ngFor="let carrito of carritos">
                  <td>{{carrito.id}}</td>
                  <td>{{carrito.nombre}}</td>
                  <td>{{carrito.apellido}}</td>
                  <td>{{carrito.email}}</td>
                  <td>{{carrito.creatAt}}</td>
                  <td >
                      <button type="button" (click)="deleteItem(carrito.id)" >eliminar</button>
                      
                  </td>
              </tr>
  
            
          </tbody>
  
      </table>
    </div>
  


