<div class="card text-bg-dark mb-3  tablaClientes" >
    <div class="card-header">Clientes</div>
    <div class="card-body">
      <h5 class="card-title">Listado de Clientes</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>

                </tr>
            </thead>
            <tbody> 
                <tr *ngFor="let cliente of clientes | slice:desde:hasta">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.creatAt}}</td>
                </tr>

              
            </tbody>

        </table>
        <mat-paginator [length]="clientes.length+1"
              [pageSize]="PageSize"
              (page)="cambiarPagina($event)">
</mat-paginator>
        
    </div>
    
  </div>